body {
  background-color: rgba(217, 231, 237, 0.3);
}

.header {
  background-color: #760808;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.logo {
  max-height: 60px;
  margin-right: 80px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 33px;
}

.main-nav__item {
}

.main-nav__link {
  display: flex;

  padding: 7px 5px;
  text-decoration: none;
  color: #f0dfdf;
  font-size: 18px;
}

.logout {
  margin-left: auto;

  border: none;
  background: transparent;
  color: #f0dfdf;
}
